<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background-color: #f4f4f4; font-family: Roboto, arial, sans-serif; color:black; position: relative;">
    <div style="background-color: #ffe066; height: 140px; margin-top:10px; ">
    </div>
    <div style="max-width: 550px; background-color: #d8d8d8; position: absolute; 
    margin: 0 auto; padding: 20px 60px; color:black;  top: 100px;
        left: 100px;">
        <div style="  font-size: 30px; font-weight: 300; margin-top: 20px; text-align: center; color:black">Correo de confirmación</div>
        <br />
        <p style="font-size: 15px; font-weight: 200; color:black">¡Estamos encantados de que empieces esta nueva experiencia de aprendizaje!. <br /> En primer lugar, tienes que confirmar tu cuenta. Sólo tienes que pulsar el botón de abajo</p>
        <div class=" box-sizing: border-box; width: 100%;">
            <br />
            <br />
            <a style="background-color: #ffe066;
             border-color: #ffe066; 
             color: #ffffff; 
             display: block; max-width: 250px; margin: 0 auto; 
             text-align: center; border: solid 1px #ffe066; 
             border-radius: 5px; box-sizing: border-box;
              cursor: pointer; font-size: 14px;
               font-weight: bold; padding: 12px 25px; 
               text-decoration: none; text-transform: capitalize;"
               href="{{link}}" target="_blank">Confirmar correo</a>
        </div>
        <br />
        <br />
        <p style="color:black">
          Si no funciona, copie y pegue el siguiente enlace en su navegador:
        </p>
        <b><u>{{link}}</u></b>
        <br />
        <br />
        <p style="color:black">
            Saludos,
            <br />
            <b>Equipo de plataforma de aprendizaje</b>
        </p>
    </div>
</body>
</html>