<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background-color: #f4f4f4; font-family: Roboto, arial, sans-serif; color:black; position: relative;">
   <h1>{{message}}</h1>
</body>
</html>